/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
}

/* Контейнер */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Логотип */
.logo {
    width: 120px;
    margin-bottom: 15px;
}

/* Заголовки */
h1 {
    font-size: 32px;
    margin: 10px 0;
}

h2 {
    font-size: 26px;
    margin-top: 20px;
}

/* Кнопки */
.btn {
    display: inline-block;
    background: #32CD32;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: #228B22;
}

/* Секции */
section {
    padding: 50px 0;
}

/* Подвал */
footer {
    background: #222;
    padding: 25px;
    font-size: 14px;
}
